p {

    font-size: 20px;
    font-family: "Courier New", "Courier", "monospace";
    background-color: green ;
    font-weight: bold;
    font-style: italic; 

}

#pNeymar{
    font-size: 50px;
    background-color: blueviolet;
}


#lista1{
    list-style: square;
}

ul#lista2{
    list-style: circle;
}
.disp{
    color: green;
    font-weight: bold;
}
.indisp{
    color:red;
}